.home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.home-form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 5px gray;
    background-color: white;
}

.home-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: url(../assets/teamwork.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    background-color: white;
}

.red-logo {
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 100vh;
}

@media only screen and (min-device-width : 880px) and (max-width : 980px) {

    .home-form-container {
            width: 50%;
        }
    
    .home-image-container {
            width: 50%;
        }
}

@media only screen and (max-device-width : 880px)  {

    .home-container {
       flex-direction: column;
    }
   
    .home-image-container {
        width: 100%;
        order: -1;
    }

    .home-form-container {
        width: 100%;
        box-shadow: 0px -10px 5px gray;
       
    }

    .home-presentation {
        margin-top: 20px;
    }
}

