
.commentary-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 20px;
}

.commentary-user-name {
    margin-right: 10px;
}

.delete-comment-icon {
    color: var(--primary);
    font-size: 0.9rem;
    margin-left: 10px;
}