
.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.user-job, .user-name {
    padding-left: 10px;
    margin: 0;
}

.identity-name-and-job {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.post-card{
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px gray;
    overflow: visible;
}

.delete-icon {
    font-size: 1.1rem;
    color: #FD2D01;
    cursor: pointer;
}

.image-cont {
    height: 300px;
}

.card-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.like-container {
display: flex;
flex-direction: row;
align-items: center;
}

.heart-icon {
    color: var(--primary);
    margin-right: 5px;
}

.card-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.commentary-name-user {
    margin-right: 5px;
}

.line {
    width: 95%;
}

/* COMMENTARY */

.card-commentary {
    padding: 0 20px 20px 20px;
}

.identity-card {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.identity-photo-commentary {
    height: 50px;
    border-radius: 50%;
}

.commentary-info-card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 10px;
}

.commentaries-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

#commentary {
    width: 100%;
}

.submit-icon {
    font-size: 20px;
    padding: 5px;
}

@media only screen and (max-device-width : 970px) {

    .post-card {
        width: 70%;
    }
}

@media only screen and (max-device-width : 650px) {

    .post-card{
        width: 100%;
        border-radius: 0%;
    }
}

@media only screen and (max-device-width : 500px) {

    .user-job,
    .user-name,
    .commentary-user-name {
        font-size: 0.9rem;
    }

    .identity-photo-commentary {
        height: 35px;
    }

    .commentary-name-user{
        font-size: 0.8rem;
    }

    .identity-name-and-job {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
}