
.mon-profil-text{
    font-size: 3rem;
    margin-top: 10px;

}
.profil-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 170px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 10px gray;
    background-color: white;
}

.identity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    contain: content
}

.form-change-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-image-icon {
    font-size: 1.5rem;
    color: var(--primary);
    margin-top: 15px;
}

.edit-icon-profil {
    margin-right: 10px;
}

.succes-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.text-info {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.choice-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancel-button {
    margin-top: 15px;
}

.profil-photo-card {
    max-height: 200px;
    padding: 20px;

}

.profil-photo {
    max-height: 200px;
    border-radius: 50%;
}

.profil-main-card {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    font-size: 1.2rem;
}

.info-card {
    width: 100%;
    background-color: var(--primary);   
    padding: 20px;
    box-shadow: 0px 5px 15px gray;
}

.info-card p:hover {
    cursor: pointer;
}

.profil-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;   
}

.profil-buttons button {
    width: 200px;
    background-color: #4E5166;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    transition: 300ms;
}

.profil-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 15px grey;
}

@media only screen and (max-device-width : 975px) {

    .profil-card {
        width: 50%;
    }
}

@media only screen and (max-device-width : 700px) {

    .profil-card {
        width: 80%;
    }
}

@media only screen and (max-device-width : 500px) {

    .profil-card {
        width: 100%;
        border-radius: 0%;
    }
}