
body {
  margin: 0;
  font-family: 'lato';
  box-sizing: border-box;
  background-color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #FD2D01;
  --secondary: #FFD7D7;
  --tertiary: #4E5166;
  --lightgrey: #d3d3d3;
}

