.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px;
    height: 30px;
    box-shadow: 0px 5px 10px gray;
    position: fixed ;
    width: 100%;
}

.header-logo {
    height: 60px;
}

@media only screen and (max-device-width : 810px) {

    .header-logo {
            height: 40px;
        }
}

