
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.navlink, .profil-icon {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding-left: 40px;
    transition: 300ms ;
    
}

.navlink:hover, .profil-icon {
    transform: scale(1.05);

}

